.gradient-blue, .card--style-plan-premium, .page--intro, .page--splash, .page--login {
    background-color: #0f4c81 !important;
    background: linear-gradient(60deg, #243057 0%, #165293 100%) !important;
}
.cards--13 .card--style-cover {
    background-color: #4d91c6;
}
.card__gradient {
    background: linear-gradient(to bottom, rgba(0, 9, 95, 0), #0f4c81);
}
.header {
    background: rgba(22, 87, 153, 0.2) !important;
    padding: 10px 0 !important;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s !important;
}
.header--page{
    background: rgba(22, 87, 153, 0.9) !important;
}
.header__icon--menu span:nth-child(3), .header__icon--menu span:nth-child(4) {
    top: 11px;
}
.header__icon--menu.open span:nth-child(3) {
    left: 2px;
    top: 12px;
    opacity: 1;
    transform: rotate(-45deg);
}
.header__icon--menu.open span:nth-child(4) {
    left: calc(50% - 2px);
    top: 12px;
    opacity: 1;
    transform: rotate(45deg);
}

.slider-simple--full-height {
    height: 80vh;
}
.slider-thumbs__icon i {
    display: block;
    max-width: 40%;
    margin: auto;
    padding: 20px 0;
    font-size: 35px;
    color: #83cbf8;
}
.slider-simple__pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #243057;
    opacity: 1;
}
.slider-thumbs__price {
    background-color: #165293;
    color: #fff;
    font-size: 1.3rem !important;
}

.slider-thumbs__badge{
    background-color: #f36f63;
}
.card__badge {
    background-color: #f36f63;
}
.card__price {
    color: #165293;
    font-size: 1.0rem !important;
}

.button--more {
    color: #02959a;
}
.button--disabled {
    color: #02959a;
    opacity: 0.5;
}

.user-details__thumb img {
    max-width: 200px !important;
}

.center {
    text-align: center;
}
.card__icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slider-thumbs__rating span {
    text-decoration: line-through;
    font-size: 10px;
}
.checked {
    color: orange;
}
.slider-thumbs .caption__cart {
    display: inline-block;
    background-color: #4d91c6;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 5px 0 0 0;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    right: 0px;    
    border-radius: 0 0 10px 0;
}
.slider-thumbs .caption__price {
    display: inline-block;
    color: #0f4c81;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 5px 10px 5px 0px;
    margin: 5px 0 0 0;
}
.slider-thumbs .caption__price span {
    text-decoration: line-through !important;
    opacity: 0.5;
    padding-left: 5px;
}